name: build

on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/build.yaml
      - Containerfile
      - requirements.txt
        
  workflow_dispatch:
    inputs:
      force_no_cache:
        description: 'Force build without cache'
        required: false
        type: boolean
        default: false

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Normalize owner and repo to lowercase
        id: vars
        run: |
          OWNER_LC=$(echo "${GITHUB_REPOSITORY_OWNER}" | tr '[:upper:]' '[:lower:]')
          REPO_LC=$(echo "${GITHUB_REPOSITORY#*/}" | tr '[:upper:]' '[:lower:]')
          echo "owner_lc=$OWNER_LC" >> $GITHUB_OUTPUT
          echo "repo_lc=$REPO_LC" >> $GITHUB_OUTPUT
  
      - name: Checkout
        uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Containerfile
          push: true
          tags: |
            ghcr.io/${{ steps.vars.outputs.owner_lc }}/${{ steps.vars.outputs.repo_lc }}/auth:latest
          no-cache: ${{ github.event.inputs.force_no_cache == 'true' }}
          cache-from: ${{ format('type=registry,ref=ghcr.io/{0}/{1}/auth:buildcache', steps.vars.outputs.owner_lc, steps.vars.outputs.repo_lc) }}
          cache-to: ${{ format('type=registry,ref=ghcr.io/{0}/{1}/auth:buildcache,mode=max', steps.vars.outputs.owner_lc, steps.vars.outputs.repo_lc) }}
